.row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 5vh;
}

#project1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/workout-tracker.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project1:hover {
    background-image: linear-gradient(rgba(144, 25, 39, 0.6), rgba(144, 25, 39, 0.6)), url('../../public/workout-tracker.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/recipe-decider.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project2:hover {
    background-image: linear-gradient(rgba(144, 25, 39, 0.6), rgba(144, 25, 39, 0.6)), url('../../public/recipe-decider.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/tech-blog.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project3:hover {
    background-image: linear-gradient(rgba(144, 25, 39, 0.6), rgba(144, 25, 39, 0.6)), url('../../public/tech-blog.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/portfolio.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project4:hover {
    background-image: linear-gradient(rgba(144, 25, 39, 0.6), rgba(144, 25, 39, 0.6)), url('../../public/portfolio.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/coding-quiz.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project5:hover {
    background-image: linear-gradient(rgba(144, 25, 39, 0.6), rgba(144, 25, 39, 0.6)), url('../../public/coding-quiz.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../public/weather-dashboard.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

#project6:hover {
    background-image: linear-gradient(rgba(144, 25, 39, 0.6), rgba(144, 25, 39, 0.6)), url('../../public/weather-dashboard.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    width: 50vh;
    height: 250px;
}

.textbox {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

.text {
    font-size: 2rem;
    font-weight: 700;
}

.bottomrow {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    margin-top: 5vh;
}